
// Body
$body-bg: #f8fafc;

// Typography
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Work Sans', sans-serif;

// Font Weight
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Colors
$darker-grey: #2D2D2D;
$dark-grey: #333333;
$grey: #555;
$navy: #1E3799;
$blue: #4A69BD;
$green: #079992;
$waterfall: #38ADA9;
$white: #F2F2F2;
