nav {
    .navbar {
        padding: 3rem 0;
        font-family: $secondary-font;

        &-brand {
            font-size: 2.8rem;
            font-weight: $semi-bold;
            color: $blue;
        }

        ul {
            .nav-item a, .dropdown-item a {
                color: $darker-grey;
                font-size: 1.8rem;
                font-weight: $semi-bold;

                &:hover {
                    color: $blue;
                }
                &:active {
                    color: $blue;
                    background-color: $white;
                }
            }

            li.dropdown:hover > .dropdown-menu {
                display: block;
            }
        }

        .nav-item {
            padding-left: 2rem;
        }
    }
}

.navbar-divider {
    background-color: $blue;
    content: "";
    display: block;
    height: 10px;
}